{% schema  %}
  {
    "name": "Wine Scales",
    "presets": [
      {
        "name": "Wine Scales"
      }
    ]
  }
{% endschema %}

<div class="characterstics-block">
  <ul class="char-ratings">
   <h2>Characteristics</h2>
  <li>
    <span><span class="behave">Acidity:</span>
<!--If we can just replace the number in the classnames with the ating metafield via liquid we are flying!-->
      <div class="bar-cont rating-bar progress-{{ product.metafields.custom.acidity.value | slice: 0 }}">
        <div class="bar"></div>
    </span>
  </li>
  <li>
    <span><span class="behave">Intensity:</span>
            <div class="bar-cont rating-bar progress-{{ product.metafields.custom.acidity.value | slice: 0 }}">
        <div class="bar"></div>
    </span>
  </li>
  <li>
  <span><span class="behave">Tannins:</span>
            <div class="bar-cont rating-bar progress-{{ product.metafields.custom.acidity.value | slice: 0 }}">
        <div class="bar"></div>
    </span>
  </li>
  <li>
    <span><span class="behave">Tannins:</span>
            <div class="bar-cont rating-bar progress-{{ product.metafields.custom.acidity.value | slice: 0 }}">
        <div class="bar"></div>
    </span>
  </li>
</ul>
</div>