.product__title {
    font-weight: bold;
}

.product__text {
    font-size: 1em;
}

.quantity__button:not(:focus-visible):not(.focused), .quantity__input:not(:focus-visible):not(.focused) {
    box-shadow: inherit;
    background-color: #efefef;
}

.quantity__input {
    background-color: #fff !important;
}

.product__media-toggle:after {
    background-color: #efefef !important;
    content: "";
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.thumbnail {
    background-color: #efefef !important;
}