.product__title {
    font-weight: bold;
}

.product__text {
    font-size: .8em;
    margin-top: -.5em !important;
}

.product-form__input .form__label {
    margin-bottom: 1em !important;
    font-size: 1em !important;
}

.quantity__button:not(:focus-visible):not(.focused), .quantity__input:not(:focus-visible):not(.focused) {
    box-shadow: inherit;
    background-color: #efefef;
}

.quantity {
    width: 90% !important;
}

.quantity__input {
    background-color: #fff !important;
}


.thumbnail {
    background-color: #efefef !important;
    border: 1px #cdcdcd; !important;
}

/* Wine Characteristic Scales  */


.char-ratings {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #f2f2f2;
  width: auto;
  display: inline-block;
  padding: 1em;
  border-radius: 8px;
}

.char-ratings > li {
  margin-bottom: 1em;
}

.bar-cont {
    position: relative;
    width: 100%;
    display: inline-block;
}

.bar-cont.progress-1:before {
    width: 20%;
}
.bar-cont.progress-2:before {
    width: 40%;
}
.bar-cont.progress-3:before {
    width: 60%;
}
.bar-cont.progress-4:before {
    width: 80%;
}
.bar-cont.progress-5:before {
    width: 100%;
}
.bar-cont.rating-bar:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #6d1942;
    height: 6px;
    border-radius: 6px;
}
.behave {
  width: 80px!important;
  display: inline-block;
  vertical-align: middle;
}

/* General Info Fields */